body {
	font-family: Arial, sans-serif;
	width: 700px;
	margin: 50px auto;
}

header,
nav,
footer
{
	text-align: center;
}

nav {
	display: block;
	float:left;
	width: 250px;
	background: #eee;
}

nav a {
	display: block;
}

#content
{
	float: right;
	width: 400px;
	background: #aaa;
}

footer {
	clear: both;
}